@using System.Collections
@using VBlog.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/VBLog.css")
    @* <link rel="stylesheet" type="text/css" href="~/Content/Blog.css">*@
    <script src="@Url.Content("~/Scripts/jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Twitter.js")" type="text/javascript"></script>
    @Scripts.Render("~/Scripts/Twitter.js");
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery.js")
    @RenderSection("scripts", required: false)
    @RenderSection("ExtraHeaders", false)

</head>
<body>
    <div id="header">
        <a href="@Href("~/")">
            <img src="~/Content/Images/mandala.png" alt="Viktor Prykhidko" />
        </a>
    </div>
    <div id="content">
        <div id="topSeparator" class="separator"></div>
        <div id="sidebar">
            @*<img id="portrait" src="@Href("~/Content/Images/person-solid.png")" alt="Portrait"/>*@
            <div id="tweets">
                <a class="twitter-timeline" href="https://twitter.com/Pryhidko_Victor" data-widget-id="699354574784720896">Tweets by Pryhidko_Victor</a>
                <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
            </div>
        </div>
        <div id="tableOfContent">
            <p id="contentHeader" style="color: black">Table of content</p>
            <div id="posts">
                @{
                    VBlogModel vbmodel = new VBlogModel();
                    foreach (var post in vbmodel.Posts.OrderByDescending(x => x.Id))
                    {
                        <a style="color: black" href="@Href("~/Posts/Details/" + post.Id)"> @post.Title</a><br />
                    }
                }
            </div>
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="bottomSeparator" class="separator"></div>
    </div>
    <div id="footer">
        <div id="copyright"> Copyright &copy; 2016, Viktor Prykhidko</div>
        @if (ViewBag.IsAdmin ?? false)
        {
            <div class="controlPanel">
                <a href="@Url.Action("Edit", "Posts")"><span>New Post</span></a>
                <a href="@Url.Action("Logout", "Accounts")"><span>Logout</span></a>
            </div>
        }
        else
        {
            <div class="controlPanel">
                <a href="@Url.Action("Login", "Accounts")"><span>Login</span></a>
            </div>
        }

    </div>
</body>
</html>
