@using VBlog.Models

@helper Render(Post post, System.Web.Mvc.HtmlHelper html, bool isAdmin, bool showComents)
{
    <div class="postTitle">
        <a href="@Href("~/Posts/Details/"+post.Id)">@post.Title</a>
    </div>
    <div class="postContainer">
        <div class="postTabs">
            <div class="dateTab">
                <div class="month">@post.DateTime.ToString("MMM").ToUpper()</div>
                <div class="day">@post.DateTime.ToString("dd")</div>
            </div>
            <div class="commmentsTab">
                <a href="@Href("~/Posts/Details/"+post.Id+"#comments")">
                    <img src="~/Content/Images/comment.png"/>
                    @post.Comments.Count
                </a>
            </div>
        </div>
        <div class="postContent">
            <div class="postBody">@html.Raw(post.Body)</div>
            <div class="tagList">
                @foreach (Tag tag in post.Tags)
                {
                    <span class="tag">
                        <a href="@Href("~/Posts/Tags/"+tag.Name)">@tag.Name</a>
                    </span>
                }
            </div>           
        </div>
        @if (isAdmin)
        {
            <div class="postControlPanel">
                <a href="@Href("~/Posts/Delete/"+post.Id)">Delete</a>
                <a href="@Href("~/Posts/Edit/"+post.Id)">Edit</a>
            </div>
        }
    </div>
    <br/>
    if (showComents)
    {
        <div id="commentContainer">
            <a id="comments"></a>
            @foreach (Comment comment in post.Comments.OrderBy(x => x.DateTime))
            {
                <div class="comment">
                    <div class="commentName">
                        @if (!string.IsNullOrEmpty(comment.Email))
                        {
                            <a href="mailto:comment.Email">@comment.Name</a>
                        }
                        else
                        {
                            @comment.Name
                        }
                    </div>
                    said:
                    <div class="commentBody">@html.Raw(html.Encode(comment.Body).Replace("\n","<br/>"))</div>
                    <div class="commentTime">at @comment.DateTime.ToString("HH:mm") on @comment.DateTime.ToString("yyyy/MM/dd")</div>
                    @if (isAdmin)
                    {
                        <div class="commentControlPanel">
                            <a href="@Href("~/Posts/DeleteComment/"+comment.Id)">Delete</a>
                        </div>
                    }
                </div>
            }
            <div class="commentEditor">
                <div id="commentPrompt">Leave a comment!</div>
                <form action="@Href("~/Posts/Comment/"+post.Id)" method="POST">
                    <input type="text" id="commentNamePrompt" name="name"/>Name (required)<br/>
                    <input type="text" id="commentEmailPrompt" name="email" />Email (optional)<br />
                    <textarea id="commentBodyInput" name="body" rows="10" cols="60"></textarea><br/>
                    <input type="submit" id="commentSubmitInput" name="submit" value="Submit!"/>
                </form>

            </div>
        </div>
    }
}